.crystals{
    display:flex;
    justify-content:space-between;
    align-items: center;
    color:white;
}

.crystal{
    border: solid red 5px;
    height:200px;
    width:200px;
    color:white;
}

#computersnumber{
    color:white;
    font-style: bold;
    font-size:24px;
}

#win{
    color:greenyellow;
    font-style:bold;
    font-size:18px;
}

#lost{
    color:greenyellow;
    font-style:bold;
    font-size:18px;
}

p{
    color:white;
    font-size:16px;
}

h1{
    color:white;
    font-size:36px;
}
